.c-fighter {
  background-color: #f6f656;
  border: 1px solid black;
}

.dmg-taken {
  font-size: 1.3rem;
  font-weight: bold;
  color: red;
  min-height: 30px;
}

.c-fighter__attributes {
  border: 1px solid black;
  display: flex;
}

.c-fighter__attributes__left {
  flex-direction: row;
}

.c-fighter__attributes__right {
  flex-direction: row-reverse;
}