.c-fighter {
  background-color: #f6f656;
  border: 1px solid black;
}

.dmg-taken {
  font-size: 1.3rem;
  font-weight: bold;
  color: red;
  min-height: 30px;
  opacity: 0;
}

.c-fighter__attributes {
  border: 1px solid black;
  display: flex;
}

.c-fighter__attributes__left {
  flex-direction: row;
}

.c-fighter__attributes__right {
  flex-direction: row-reverse;
}

.c-fighter__health-avatar-wrapper {
  min-width: 125px;
  position: relative;
}

.c-fighter__avatar {
  font-size: 60px;
}


.c-fighter-health-svg {
  height: 120px;
  width: 120px;
  position: absolute;
  left: 1px;
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  stroke: red;
  stroke-width: 4;
  fill: transparent;
  r: 52;
  cx: 60;
  cy: 60;
/* axis compensation */
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}



.c-fighter__dice-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.c-fighter__total-attack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 18px;
  font-size: 1.1rem;
  font-weight: bold;
  min-width: 20px;
}
