.c-fighter {
  background-color: #f6f656;
  border: 1px solid black;
}

.dmg-taken {
  font-size: 1.3rem;
  font-weight: bold;
  color: red;
  min-height: 30px;
}

.c-fighter__attributes {
  border: 1px solid black;
  display: flex;
}

.c-fighter__attributes__left {
  flex-direction: row;
}

.c-fighter__attributes__right {
  flex-direction: row-reverse;
}

.c-fighter__health-avatar-wrapper {
  /* position: relative; */
  min-width: 125px;
}

.c-fighter__avatar {
  font-size: 60px;
  /* position: absolute;
  top: 36px;
  left: 27px; */
}


.c-fighter__dice-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.c-fighter__total-attack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 18px;
  font-size: 1.1rem;
  font-weight: bold;
  min-width: 20px;
}
